*{
    margin: 0;
    /* Padding top 3px rest 0*/
    padding: 3px 0 0 0; 
}
/* Nav bar section*/
.navbar {
    margin-top: 5px ;
	width: 100%;
	margin: 0;
}

header {
  
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding-bottom: 10px;
}

header::after {
  content: '';
  display: table;
  clear: both;
}


nav {
  float: left;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

/* Font styles */
h2{
    
    font-size: 40px;
    /*margin-top: 2%;*/
    /*left: 50%;*/
    /*top:2%;*/
    text-align: center;
    padding-bottom: 3%;
    /*width: 50%;
    margin: 0 auto;*/
    font-family:'Courier New', Courier, monospace;
    position: relative;
    /*box-sizing:border-box;*/
    position: relative;
    padding-top: 3vh;
    
}

/* Banner section */
#banner{
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
#banner .my-name{
    padding-top: 5vh;
    font-size: 50px;
    font-weight: bolder;
}

#banner img {
    border-radius: 50%;
    max-width: 50%;
    max-height: 50%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

/* Work experience section */
#work{
    min-height: 100vh;
    background-color: rgb(216, 255, 214);
    text-align: center;
}

.images-row{
    padding: 2vh;
    display:flex;
    justify-content: center;
}

.img-in-row{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width:  46.1vh;
    height: 26vh;
}

.img-cont{
    text-align: center;
    width: 33%;
    padding-left: 2%;
    padding-right: 2%;
}
.work-descr-row{
    display: flex;
    column-count: 3;
}

.job-info{
    width: 33%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.job-title{
    text-align: center;
    font-size: 25;
}

.job-descr{
    font-size: 16;
    text-align: left;
}

.tech-list {
    text-align: left;
}

/* Hobbies section */

#hobbies{
    min-height: 60vh;
    background-color: rgb(255, 255, 255);
    text-align: center;
}


.hobby-descr-row{
    display: flex;
    column-count: 3;
}

.hobby-info{
    width: 33%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.hobby-title{
    text-align: center;
    font-size: 25;
}

/* Education section */
#education{
    min-height: 80vh;
    background-color: rgb(216, 255, 214);
    text-align: center;
    align-content: center;
}

#education-row{
    margin-left: 10%;
    margin-right: 10%;
    padding: 5vh;
    display:flex;
    align-items: center;
}


.education-text {
    padding: 1vh;
    text-align: left;
    font-family: 'Roboto', serif;
    font-size: 1.8em;
    line-height: 1.5em;
    font-weight: 100;
}
.img-in-row2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 85%;
    max-height: auto;
    float: right;
}


/* jinja section */
#extra-jinja{
    min-height: 50vh;
}

#extra-jinja p{
    text-align: center;
}

#extra-jinja ul{
    display: table; 
    margin: 0 auto;
    text-align: left;
}

.extra-column{
    margin: 0 auto;
    line-height: 2;
    font-size: 22px;
    float: left;
    width: 33.3%;
    height: 50%;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    box-sizing:border-box;
}


/* Travel section */
#travel{
    min-height: 115vh;
    background-color: rgb(216, 255, 214);
    text-align: center;
    align-content: center;
}


#map-legend ul{
    text-align: left;
    font-size: 40px;
    list-style-type: none;
    padding-left: 15vh;
}

#curr-loc::before{
    content: '';

    display: inline-block;
  
    height: 50px;
  
    width: 50px;
  
    background-size: 50px;
  
    background-image: url('../img/star.svg');
  
    background-repeat: no-repeat;
  
    margin-right: 5px;
}
#visited::before{
    content: '';

    display: inline-block;
  
    height: 50px;
  
    width: 50px;
  
    background-size: 50px;
  
    background-image: url('../img/marker.png');
  
    background-repeat: no-repeat;
  
    margin-right: 5px;
}


#map{
    width: 70%;
    height: 70%;
    transition: transform ease-in-out 0.3s;
}

#map:hover{transform: scale(1.1); }

