/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(180, 180, 180);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Banner section */
#banner{
    min-height: 100vh;
    background-color: rgb(127, 233, 127);
    text-align: center;
}
#banner .my-name{
    padding-top: 5vh;
    font-size: 50px;
    font-weight: bolder;
}

#banner img {
    border-radius: 50%;
    max-width: 50%;
    max-height: 50%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

/* Work experience section */
#work{
    min-height: 80vh;
    background-color: rgb(127, 186, 127);
    text-align: center;
}

#work-sec-title{
    padding-top: 5vh;
    padding-bottom: 3vh;
    font-size: 50px;
    font-weight:bold;
}

.images-row{
    padding: 2vh;
    display:flex;
    justify-content: center;
}

.img-in-row{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width:  480px;
    height: 270px;

}

.img-cont{
    text-align: center;
    width: 33.33%;
}
.work-descr-row{
    display: flex;
    column-count: 3;
}

.job-info{
    width: 33%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.job-title{
    text-align: center;
    font-size: 25;
}

.job-descr{
    font-size: 16;
    text-align: left;
}

.tech-list {
    text-align: left;
}

/* Hobbies section */

#hobbies{
    min-height: 50vh;
    background-color: rgb(127, 233, 127);
    text-align: center;
}

#hobbies-sec-title{
    padding-top: 5vh;
    padding-bottom: 3vh;
    font-size: 50px;
    font-weight:bold;
}

.hobby-descr-row{
    display: flex;
    column-count: 3;
}

.hobby-info{
    width: 33%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.hobby-title{
    text-align: center;
    font-size: 25;
}

/* Education section */