/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(180, 180, 180);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
#home{
    min-height: 100vh;
    background-color: rgb(211, 255, 252);
}
#home .welcome-message{
    /*text-align: center;
    vertical-align: middle;*/
    
    position: absolute;
    font-size: 50px;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#about-me{
    min-height: 100vh;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#about-me .about{
    margin-top: 5%;
    text-align: center;
    font-size: 30px;
    
}

.row{
    padding-top: 3%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.column{
    /*box-shadow: 10px 10px 10px 10px rgba(154, 169, 250, 0.19), 10px 10px 10px 10px rgba(154, 169, 250, 0.19);*/

    /*flex: 40%;
    padding: 5%;*/

    width: 25%;
    height: 40%;

    
    border-radius: 50%;
}


#sebas-column{
    box-shadow: 10px 10px 10px 10px rgba(133, 249, 160, 0.19), 10px 10px 10px 10px rgba(133, 249, 160, 0.19);
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

img {
    border-radius: 50%;
    /*float:left;*/
    width: 100%;
    margin-right: 1%; 
    margin-bottom: 0.5em;
    display: inline;
    margin: 0 auto;
    height: 50%;
    /*width: auto;*/
}

.label{
    float: left;
    text-align: center;
    font-size: 20px;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    width: 30%;
    height: 50%;

    position: relative;
}







