* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-family: "Oswald", sans-serif;
}

/* Navbar container */
.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
   /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
    /* clip-path: circle(25px at calc(0% + 45px) 45px); */
    background: #000;
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .wrapper{
    clip-path: circle(75%);
  }
  .menu-btn{
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    background: #000;
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .menu-btn{
    color: #fff;
  }
  #active:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  .wrapper ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  .wrapper ul li{
    margin: 15px 0;
  }
  .wrapper ul li a{
    color: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    border-radius: 50px;
    background: #000;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
  }
  .wrapper ul li a:after{
    position: absolute;
    content: "";
    background: #fff;
     background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
    width: 104%;
    height: 110%;
    left: -2%;
    top: -5%; /* if the font is 'Oswald'*/
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    animation: rotate 1.5s linear infinite;
    transition: transform 0.3s ease;
  }
  .wrapper ul li a:hover:after{
    transform: scaleY(1);
  }
  .wrapper ul li a:hover{
    color: #fff;
  }
  input[type="checkbox"]{
    display: none;
  }

  
  @keyframes rotate {
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }

/* Home section*/
#home{

    min-height: 100vh;
    background-color: rgb(194, 110, 0);
}
#home .welcome-message{
    /*text-align: center;
    vertical-align: middle;*/
    
    position: absolute;
    font-size: 50px;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#about-me{
    min-height: 100vh;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#about-me .about{
    margin-top: 5%;
    text-align: center;
    font-size: 30px;
    
}

.row{
    padding-top: 3%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.column{
    /*box-shadow: 10px 10px 10px 10px rgba(154, 169, 250, 0.19), 10px 10px 10px 10px rgba(154, 169, 250, 0.19);*/

    /*flex: 40%;
    padding: 5%;*/

    width: 25%;
    height: 40%;

    
    border-radius: 50%;
}


#sebas-column{
    box-shadow: 10px 10px 10px 10px rgba(133, 249, 160, 0.19), 10px 10px 10px 10px rgba(133, 249, 160, 0.19);
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

img {
    border-radius: 50%;
    /*float:left;*/
    width: 100%;
    margin-right: 1%; 
    margin-bottom: 0.5em;
    display: inline;
    margin: 0 auto;
    height: 50%;
    /*width: auto;*/
}

.label{
    float: left;
    text-align: center;
    font-size: 20px;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    width: 30%;
    height: 50%;

    position: relative;
}







