<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link lang='sass' rel="stylesheet" href="./static/styles/sally.css">
    <title>{{ title }}</title>
</head>
<body>
    <section id="about">
        <h1>Sally</h1>
        <div class="column">
            <img src="./static/img/sally.jpeg">
        </div>
    </section>

    <section id="work">
        <h2>Work Experience</h2>
        <div class="work-column">
            <img src="./static/img/data-structures.png">
        </div>
        <div class="work-column">
            <img src="./static/img/skating-coach 2.jpg">
        </div>
        <div class="label">Data Structures and Algorithms Teaching Assistant</div>
        <div class="label">Ice Skating Instructor</div>
    </section>

    <section id="hobbies">
        <h2>Hobbies</h2>
        <div class="hobby-column">
            <img src="./static/img/snowboarding.jpg">
        </div>
        <div class="hobby-column">
            <img src="./static/img/skating.jpeg">
        </div>
        <div class="hobby-column">
            <img src="./static/img/beach.jpeg">
        </div>
        <div class="hobby-label">Snowboarding</div>
        <div class="hobby-label">Figure Skating</div>
        <div class="hobby-label">Walking on Beaches</div>
    </section>

</body>
</html>