<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link lang='sass' rel="stylesheet" href="./static/styles/sally.css">
    <title>{{ title }}</title>
    <script src="./static/styles/map.js"></script>
</head>
<body>
    <section id="about">
        <h1>Sally</h1>
        <div class="column">
            <img src="./static/img/sally.jpeg">
        </div>

    </section>


    <section id="work">
        <h2>Work Experience</h2>
        <div class="work-column">
            <img src="./static/img/data-structures.png">
        </div>
        <div class="work-column">
            <img src="./static/img/skating-coach 2.jpg">
        </div>
        <div class="label">Data Structures and Algorithms Teaching Assistant</div>
        <div class="label">Ice Skating Instructor</div>
    </section>


    <section id="hobbies">
        <h2>Hobbies</h2>
        <div class="hobby-column">
            <img src="./static/img/snowboarding.jpg">
        </div>
        <div class="hobby-column">
            <img src="./static/img/skating.jpeg">
        </div>
        <div class="hobby-column">
            <img src="./static/img/beach.jpeg">
        </div>
        <div class="hobby-label">Snowboarding</div>
        <div class="hobby-label">Figure Skating</div>
        <div class="hobby-label">Walking on Beaches</div>
    </section>

    <section id="education">
        <h2>Education</h2>
        <div class="education-column">
            I am a rising senior at Washington University in St. Louis studying Computer Science.
        </div>
        <div class="education-column">
            <img src="./static/img/washu.jpg">
        </div>
    </section>










<section id="travel">

    <h2>Countries I've visited</h2>


    <script src="https://www.amcharts.com/lib/3/ammap.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/maps/js/worldHigh.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/themes/dark.js" type="text/javascript"></script>
    <div id="mapdiv"></div>
    <script type="text/javascript">
    var map = AmCharts.makeChart("mapdiv",{
    type: "map",
    theme: "dark",
    projection: "mercator",
    panEventsEnabled : true,
    backgroundColor : "#535364",
    backgroundAlpha : 1,
    zoomControl: {
    zoomControlEnabled : true
    },
    dataProvider : {
    map : "worldHigh",
    getAreasFromMap : true,
    areas :
    [
        {
            "id": "AT",
            "showAsSelected": true
        },
        {
            "id": "BE",
            "showAsSelected": true
        },
        {
            "id": "CZ",
            "showAsSelected": true
        },
        {
            "id": "FR",
            "showAsSelected": true
        },
        {
            "id": "DE",
            "showAsSelected": true
        },
        {
            "id": "HU",
            "showAsSelected": true
        },
        {
            "id": "IT",
            "showAsSelected": true
        },
        {
            "id": "NL",
            "showAsSelected": true
        },
        {
            "id": "NO",
            "showAsSelected": true
        },
        {
            "id": "ES",
            "showAsSelected": true
        },
        {
            "id": "SE",
            "showAsSelected": true
        },
        {
            "id": "CH",
            "showAsSelected": true
        },
        {
            "id": "TR",
            "showAsSelected": true
        },
        {
            "id": "GB",
            "showAsSelected": true
        },
        {
            "id": "CA",
            "showAsSelected": true
        },
        {
            "id": "US",
            "showAsSelected": true
        },
        {
            "id": "KR",
            "showAsSelected": true
        }
    ]
    },
    areasSettings : {
    autoZoom : true,
    color : "#B4B4B7",
    colorSolid : "#84ADE9",
    selectedColor : "#84ADE9",
    outlineColor : "#666666",
    rollOverColor : "#9EC2F7",
    rollOverOutlineColor : "#000000"
    }
    });
    </script>
    

</section>




</body>
</html>