<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link lang='sass' rel="stylesheet" href="./static/styles/aboutSebas.css">
    <title>{{ title }}</title>
</head>
<body>
    <!--Navigation Bar-->
    <div class="navbar">
        <a href="#banner">Home</a>

        <div class="dropdown">
            <button class="dropbtn">About Us
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="sebastian.html">Sebastian</a>
                <a href="sally.html">Sally</a>
            </div>
        </div>

        <div class="dropdown">      
            <button class="dropbtn">Work
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">Sebastian</a>
                <a href="#">Sally</a>
            </div>
        </div>

        <div class="dropdown">      
            <button class="dropbtn">Hobbies
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">Sebastian</a>
                <a href="#">Sally</a>
            </div>
        </div>

        <div class="dropdown">      
            <button class="dropbtn">Education
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">Sebastian</a>
                <a href="#">Sally</a>
            </div>
        </div>

        <div class="dropdown">      
            <button class="dropbtn">Travel With Us
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">Sebastian</a>
                <a href="#">Sally</a>
            </div>
        </div>

    </div>


    <!--Home Page-->
    <section id="banner">
        <div class="my-name">Sebastian Rojas Salazar</div>
        <img src="./static/img/sebasPic.jpg">
    </section>
    
    <!--Work Experiences section-->
    <section id="work">
        <div id="work-sec-title">Work Experience and Projects</div>
        <div class="images-row">
            <div class="img-cont">
                <img class="img-in-row" src="./static/img/WorkE1.jpg">
            </div>
            <div class="img-cont">
                <img class="img-in-row" src="./static/img/WorkE2.jpg">
            </div>
            <div class="img-cont">
                <img class="img-in-row" src="./static/img/WorkE3.jpg">
            </div>
        </div>
    <!--Work Experiences info-->
        <div class="work-descr-row">
            <div class="job-info">
                <p class="job-title">
                    Content manager and media editor at<br> Dream body clinic
                </p>
                <p class="job-descr">
                    In charge of media editing and managing social media. Provided daily video uploads. 
                    Managed google ads campaign that increased by 3% web page traffic and Youtube subscribers. <b>2019-Present</b>
                </p>
                <ul class="tech-list">
                    <li>Adobe Premiere Pro</li>
                    <li>Adobe Photosop</li>
                    <li>Youtube channel management</li>
                    <li>Google Ads</li>
                </ul>
            </div>
            <div class="job-info">
                <p class="job-title">
                    Android mobile app for<br> the food bank of Guadalajara
                </p>
                <p class="job-descr">
                    Developed an android mobile app that sought to attract more donations for the food
                    bank of Guadalajara by showing their achievements and the lifes of the families they
                    help. I focused on front end functionalities and integration of Paypal and Google
                    maps APIs.
                </p>
                <ul class="tech-list">
                    <li>Kotlin</li>
                    <li>Android Studio</li>
                    <li>Firebase</li>
                    <li>API integration</li>
                </ul>
            </div>
            <div class="job-info">
                <p class="job-title">
                    Labor Expense Recovery Tool <br>
                    Web Application
                </p>
                <p class="job-descr">
                    Developed a web application that allows managers to recover expenses from their teams and generate reports based on the data.
                    Focused on backend development working with flask and postgresql database.
                </p>
                <ul class="tech-list">
                    <li>React js</li>
                    <li>Flask</li>
                    <li>SQLAlchemy</li>
                    <li>Postgresql</li>
                </ul>
            </div>
        </div>
    </section>

    <!--Hobbies section-->
    <section id="hobbies">
        <div id="hobbies-sec-title">Hobbies</div>
        <!--IMG row-->
        <div class="images-row">
            <div class="img-cont">
                <img class="img-in-row" src="./static/img/HobbiesImg1.jpg">
            </div>
            <div class="img-cont">
                <img class="img-in-row" src="./static/img/HobbiesImg2.jpg">
            </div>
            <div class="img-cont">
                <img class="img-in-row" src="./static/img/HobbiesImg3.jpg">
            </div>
        </div>
        <div class="hobby-descr-row">
            <div class="hobby-info">
                <p class="hobby-title"> Gaming </p>
            </div>
            <div class="hobby-info">
                <p class="hobby-title"> Going to the gym </p>
            </div>
            <div class="hobby-info">
                <p class="hobby-title">Watching movies, series and anime </p>
            </div>
        </div>
    </section>
    <!--Education section-->
    <section id="education">
        <div id="education-sec-title">Education</div>
        <div id="education-row">
            <div id="educ-text-container">
                <p class="education-text">
                    I am a rising senior at<br>
                    Monterrey Institute of Technology<br>
                    studying computer science. 
                </p>
            </div>
            <div>
            <img class="img-in-row2" src="./static/img/educationImg.jpg">
            </div>
        </div>
    </section>
    <!--Travel section-->
    <section id="travel">
        <div id="travel-sec-title">Where have I been?</div>
        <div id="map-legend">
            <ul>
                <li id="curr-loc">Current Location</li>
                <li id="visited">Visited</li>
            </ul>
        </div>
        <img id="map" src="./static/img/placesVisited.jpg">
    </section>
</body>
</html>