<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link lang='sass' rel="stylesheet" href="./static/styles/aboutSebas.css">
    <title>{{ title }}</title>
</head>
<body>
    <!--Navigation Bar-->
    <div class="navbar">
        <a href="#banner">Home</a>

        <div class="dropdown">
            <button class="dropbtn">About Us
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="sebastian.html">Sebastian</a>
                <a href="sally.html">Sally</a>
            </div>
        </div>

        <div class="dropdown">      
            <button class="dropbtn">Work
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">Sebastian</a>
                <a href="#">Sally</a>
            </div>
        </div>

        <div class="dropdown">      
            <button class="dropbtn">Hobbies
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">Sebastian</a>
                <a href="#">Sally</a>
            </div>
        </div>

        <div class="dropdown">      
            <button class="dropbtn">Education
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">Sebastian</a>
                <a href="#">Sally</a>
            </div>
        </div>

        <div class="dropdown">      
            <button class="dropbtn">Travel With Us
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">Sebastian</a>
                <a href="#">Sally</a>
            </div>
        </div>

    </div>


    <!--Home Page-->
    <section id="banner">
        <div class="my-name">Sebastian Rojas Salazar</div>
        <img src="./static/img/sebasPic.jpg">
    </section>
    
</body>
</html>